.landing-page {
    text-align: center;
    padding: 0px;
    width: 100vw;
  }
.site-layout {
  display: flex;
  padding: 20px;
}
.welcome{
  padding: 20px;
  font-family:cursive;
  text-align: center;
  font-size: 45px;
  margin-bottom: 10px;
  color: azure;
}
.captions{
  width: 40%;
  height: 400px;
  align-self: center;
}
.logo-image {
  height: 220px;
}
.cap1 {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
}
.cap2 {
  text-align: right;
  font-size: 40px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  margin: 20px;
}
.cap3 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family:cursive;
  margin: 20px;
}
.website-title {
  flex-grow: 1;
  text-align: left;
  align-self: center;
  font-size: 40px;
  height: 45px;
  color:azure;
  background-color: transparent;
}

.search {
  width: 250px;
  align-self: center;
  height: 33px;
  margin-right: 30px;
  background-color: #e3eaf1dd;
  border-radius: 15px;
}
.search:focus {
  background-color: white;
}
  
ul {
    list-style-type: none;
    padding: 0;
  }
  
li {
    margin: 10px 0;
    }
.games-grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
    flex-grow: 1;
    padding: 10px;
    overflow-x: auto;
}

.game-block {
    padding: 10px;
    text-align: center;
    align-self: center;
    cursor: pointer;
    height: fit-content;
    border-radius: 10px;
    width: fit-content;
    background-color: rgba(240, 255, 255, 0.653);
    transition: transform 0.3s ease;
}

.game-block:hover {
    transform: scale(1.05);
}

.game-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 768px) {
  .site-layout {
    flex-direction: column;
    height: auto;
  }
  .welcome{
    padding: 10px;
    text-align: center;
  }
  .captions{
    width: 100vw;
    height: auto;
  }
  .logo-image {
    height: 150px;
  }
  .website-title {
    flex-grow: 1;
    text-align: left;
    align-self: center;
    font-size: 25px;
    height: auto;
    color:azure;
    background-color: transparent;
  }
  
  .search {
    width: 100px;
    align-self: center;
    height: 33px;
    margin-right: 0px;
    font-size: 10px;
    background-color: #e3eaf1dd;
    border-radius: 15px;
  }

  .games-grid {
    display: flex;
    flex-direction: column;

  }

  .game-block {
    border: 2px solid rgb(0, 16, 32);
    padding: 10px;
    text-align: center;
    align-self: center;
    cursor: pointer;
    height: fit-content;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  .game-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

}