.landing-page {
    text-align: center;
    padding: 20px;
  }

  .header {
    display: flex;
    height: 100px;
    width: auto;
    padding:10px;
    border:solid 3px #004688a4;

  }
  .header-image {
    height: 100px;
  }

  .website-title {
    flex-grow: 1;
    text-align: left;
    align-self: center;
    font-size: 30px;
    height: 35px;
    background-color: #00438248;
  }

  .search {
    width: 250px;
    align-self: center;
    height: 33px;
    background-color: #00438248;
  }
  .search:focus {
    background-color: white;
  }
  .search-icon {
    align-self: center;
    height: 35px;
    background-color: #00438248;
  }
h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
ul {
    list-style-type: none;
    padding: 0;
  }
  
li {
    margin: 10px 0;
    }
.game-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.game-block {
    border: 2px solid #ddd;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.game-block:hover {
    transform: scale(1.05);
}

.game-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
