/* SumGame.css */
.kakuro-game-container {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 40vw;
  }
  
  .kakuro-game-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .kakuro-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 360px;
    height: 360px;
  }
  
  table td {
    border: 1px solid #01335b;
    padding: 0px;
    text-align: center;
    font-size: 25px;
    width: 70px;
    height: 70px;
  }
  
  input {
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 18px;
    border: none;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
  }
  
  input:focus {
    outline: none;
    background-color: #e0e0e0;
  }
  
  .fixed {
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 16, 32);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .congrats-message {
    color: #4CAF50 ;
  }
  
  .fixed.green {
    background-color: #4CAF50;
    color: white;
  }
  
  input[type='number'] {
    text-align: center;
  }
  
  table td input {
    background-color: transparent;
    padding: 0;
  }
  
  table tr:first-child td {
    font-weight: bold;
  }
  
  table tr:first-child td.fixed {
    background-color: #e0e0e0;
  }
  
  .green {
    background-color: #4CAF50;
    color: white;
  }

  .kakuro-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(0, 16, 32);
    color: aliceblue;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    width:150px;
    margin-inline: 20px;
  }
  .kakuro-button:hover{
    background-color: aliceblue;
    color: rgb(0, 16, 32);
    border: 2px solid rgb(0, 16, 32);
}

@media (max-width: 768px) {
  .kakuro-game-container {
    margin: 0;
    padding: 10px;
    width: 90vw;
  } 
  .kakuro-table {
    width: 300px;
    height: 300px;
  }
  .kakuro-button {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    width:120px;
    margin-inline: 20px;
  }
}