
.game-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
.slidesort-container {
    font-family: Arial, sans-serif;
    margin: 0px auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 40vw;
  }

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 3px;
    width: 315px;
    height: 315px;
    margin: 0px auto;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    background-color: rgb(0, 16, 32);
    position: relative;
}

.block {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.empty {
    background-color: rgb(0, 16, 32);
    border: none;
}

.congrats {
    font-size: 24px;
    color: green;
    margin-top: 20px;
}
.slidesort-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(0, 16, 32);
    color: aliceblue;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    width:150px;
  }

.slidesort-button:hover{
    background-color: aliceblue;
    color: rgb(0, 16, 32);
    border: 2px solid rgb(0, 16, 32);
}
@media (max-width: 768px) {
    .game-container{
        flex-direction: column;
        align-content:center;
    }
    .slidesort-container {
        text-align: center;
        padding: 0px;
        width: 80vw;
        align-self: center;
    }
}
