.game-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.sudoku-container {
    text-align: center;
    padding: 0px;
    width: 60vw;
    margin-top: 20px;
  }
  .rules-container {
    width: auto;
    height: auto;
    margin: 20px;
    padding: 10px;
    overflow-y: auto;
    text-align: left;
    border: 3px solid black;
  }
  
h2{
  text-align: center;
  background-color: #000;
  color: aliceblue;
}
  input[disabled] {
    background-color: #edebeb;
  }
  
  .sudoku-grid-table {
    width: 360px;
    height: 360px;
    margin: 0px auto;
    border-collapse: collapse;
    border: 3px solid black;
  }
  
  .sudoku-grid-table td {
    padding: 0px;
    height: auto;
    width: auto;
  }
  
  .sudoku-grid-table input {
    width: 40px;
    height: 40px;
    text-align: center;
  }
  .sudoku-grid-table td:nth-child(3n) {
    border-right: 3px solid black;
  }
  
  .sudoku-grid-table tr:nth-child(3n) td {
    border-bottom: 3px solid black;
  }
  .invalid {
    border: 2px solid red;
    background-color: #ffcccc;
  }
  input.fixed {
    color: #000;
    font-weight: bold;
  }
  .sudoku-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    width:150px;
    margin-inline: 20px;
  }
  
  .sudoku-button:hover {
    background-color: #45a049;
  }
  